@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

header{
    height: 100px;
    background-color: #000000;
}
.header{
    max-width: 1140px;
    /* margin : centraliza a div header;*/
    margin: auto;
    display:flex;
    align-items: center;
}

.logo{
    width: 100px;
}
.logoimg{
    width:80px;
    height: 80px;
    background-color: #B28756;
    border-radius: 50%;
}

.menu{
    flex:1;
    color:white;
    display: flex;
    justify-content: flex-end;
}

.menu ul, .menu li{
    list-style: none;
    ;
}

.menu ul{
    display: flex;
}

.menu ul li a{
    text-decoration: none;
    color: #ffff;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;;
    /*display inline não tem como colocar altura tem que alterar pra
    display:block ou flex*/
    display:flex;
    align-items: center;
    border-bottom: 5px solid #000000;
    
}

.menu li a:hover, .menu .active a{
    border-bottom: 5px solid #B28756;
    color: #b4b4b2;
}

.banner{
    background-color: #333;
    /* calc - tamanho 100% do monitor do usuario - 100px(cabeçalho
        vh - viewport height - altura do monitor do usuario
    */
    height: calc(100vh - 100px);
    background-image:url('../images/bg.jpg');
    /*background-size ajusta imagem para cobrir toda a tela disponivel*/
    background-size: cover;
     /*background-position ajusta para parte inferior  da imagem  tela*/
    background-position: bottom;
    /*tudo que passar do tamanho do banner será escondido*/
    overflow: hidden;
}

.banner .sliders{
    height: 100%;
    /*  vw - viewport width - largura do monitor do usuario*/
    width: 1000vw;
}

.banner .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0,0,0,0.8);
}

.banner .slidearea{
    display:flex;
    flex-direction: column;
    align-items:center;
    height: 100%;
    color: #fff;
    justify-content: center;   
}

.banner h1{
    text-transform:uppercase;
    font-weight: bold;
    font-size:50px;
}
.banner h1 span{
    color: #B28756;
}

.banner h2{
    text-transform:uppercase;
    margin-top: 20px;
}

.banner .button{
    display: block;
    background-color:#B28756;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    border-radius: 50px;
    margin-top: 30px;
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.banner .sliders-pointers{
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.banner .sliders-pointers .pointer{
    width: 15px;
    height: 15px;
    border-radius:50%;
    display: inline-block;
    border: 2px solid #B28756;
    cursor: pointer;
}
.banner .sliders-pointers .pointer.active{
    background-color: #B28756;
}





