@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

header{
    height: 100px;
    background-color: #000000;
}
.header{
    max-width: 1140px;
    /* margin : centraliza a div header;*/
    margin: auto;
    display:flex;
    align-items: center;
}

.logo{
    width: 100px;
}
.logoimg{
    width:80px;
    height: 80px;
    background-color: #B28756;
    border-radius: 50%;
}

.menu{
    flex:1;
    color:white;
    display: flex;
    justify-content: flex-end;
}

.menu ul, .menu li{
    list-style: none;
    ;
}

.menu ul{
    display: flex;
}

.menu ul li a{
    text-decoration: none;
    color: #ffff;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;;
    /*display inline não tem como colocar altura tem que alterar pra
    display:block ou flex*/
    display:flex;
    align-items: center;
    border-bottom: 5px solid #000000;
    
}

.menu li a:hover, .menu .active a{
    border-bottom: 5px solid #B28756;
    color: #b4b4b2;
}



